<!DOCTYPE html>
<html ng-app="MyCSSModule">
<head>
    <meta charset="UTF-8">
    <title>Angular 操作CSS样式</title>
    <link rel="stylesheet" href="NgClass.css">
</head>
<body>
    <div ng-controller="HeaderController">
    	<div ng-class="{error: isError, warning: isWarning}">{{messageText}}</div>
    	<button ng-click="showError()">Simulate Error</button>
    	<button ng-click="showWarning()">Simulate Warning</button>
    </div>
    <script src="http://libs.useso.com/js/angular.js/1.3.0-beta.9/angular.min.js"></script>
    <script src="NgClass.js"></script>
</body>
</html>

